{{#extends 'base'}}
{{#block 'content'}}
<h1>delete movie listing</h1>
<div class="alert alert-danger">
    <form method="POST">
    Are you sure you want to delete this movie: {{title}}? <br>
    Plot: {{plot}}
</div>
<input type="submit" value="yes, delete" class="btn btn-danger">
<a href="/movies" class="btn btn-dark">cancel, return</a>
 </form>
{{/block}}
{{/extends}}