{{#extends base}}

{{#block 'content'}}
<h1>add new food record</h1>
<form method="POST">
    <div>
        <label>food name</label>
        <input type="text" class="form-control" name="foodRecordName">
    </div>

     <div>
        <label>calories</label>
        <input type="text" class="form-control" name="calories">
    </div>

    <div>
        <label>tags</label>
        <input name="tags" class="form-check-input" type="checkbox" value="snack">
        <label class="form-check-label">snack</label>
         <input name="tags" class="form-check-input" type="checkbox" value="healthy">
        <label class="form-check-label">healthy</label>
         <input name="tags" class="form-check-input" type="checkbox" value="homecooked">
        <label class="form-check-label">homecooked</label>
        
    </div>
</form>


{{/block}}

{{/extends}}