{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
<div>
<input type="checkbox" name="items" value="durian"><label class="form-check-label p-2">durians</label>

<input type="checkbox" name="items" value="apple"><label class="form-check-label p-2">apple</label>

<input type="checkbox" name="items" value="orange"><label class="form-check-label p-2">orange</label>

<input type="checkbox" name="items" value="banana"><label class="form-check-label p-2">banana</label>
</div>

<input type="submit" value="submit" class="btn btn-warning">
</form>
{{/block}}
{{/extends}}