{{#extends 'base'}}

{{#block "content"}}
<div class="container mt-2">
<h1>Fault Reporting System</h1>
<p>a safe place for you to report any faults</p>
<p>examples may include a faulty lift or a leaking pipe</p>
<p>here is a cute penguin while you await</p>
<img src="/penguin.jpeg">
</div>
{{/block}}

{{/extends}}