{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label>description</label>
        <input type="text" name="description" class="form-control">
    </div>

    <div>
        <label>food</label>
        <input type="text" name="food" class="form-control" placeholder="enter list of food separated by commas">
    </div>
    <div>
        <label>date and time</label>
        <input type="datetime-local" name="datetime" class="form-control">
    </div>
    <input type="submit" class="btn btn-danger mt-3">
</form>
{{/block}}

{{/extends}}